<h2>Contabilidad</h2>

<p><strong>Puerta:</strong> {{ puerta }}</p>

<!-- <div *ngIf="loading">
  Cargando...
</div> -->

<table border="1" width="100%" cellpadding="8" >
  <thead>
    <tr>
      
      <th>Puerta</th>
      <th>Fecha</th>
      <th>Cuota mes</th>
      <th>Derrama</th>
      <th>Pago</th>
      <th>Deuda</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of data">
      
      <td>{{ item.puerta }}</td>
      <td>{{ item.fecha }}</td>
      <td>{{ item.cuota_mes }}</td>
      <td>{{ item.derrama }}</td>
      <td>{{ item.pago }}</td>
      <td>{{ item.deuda }}</td>
    </tr>
  </tbody>
</table>

<!-- <p *ngIf="!loading && (!data || !data.length)">
  No hay datos para esta puerta
</p> -->