<nav style="display: flex; gap: 15px; padding: 10px; background: #eee;">
  
  <p>{{ name }}</p>
  <p>{{ address }}</p>

  <a routerLink="summary">Home</a>
  <a routerLink="balance">Balance</a>
  <a routerLink="chatbot">Chatbot</a>

  <a *ngIf="user?.rol === 'admin'" routerLink="manage-users">
    Gestionar usuarios
  </a>

  <a 
    *ngIf="user?.rol === 'propietario' && user?.puerta_usuario"
    routerLink="contabilidad">
    Contabilidad
  </a>

  <button (click)="logout()">Cerrar sesión</button>

</nav>